.footer
        .content
            .company
                h1 Support
                p Who are we
                p Careers
                p Team
                p Report Fraud
            .legal
                h1 Legal
                p Terms &amp; Conditions
                p Refund &amp; Cancellation
                p Privacy Policy
                p Offer Terms
            .support
                h1 Support
                p help@foodshades.abc
                p (+91) 1234567890
                p (+91) 1234567891
            a.nameFooter(href='#mainBg') FoodShades
            .icons
                img.mediaHandle.facebook(src='/Images/facebook.svg', data-name='facebook')
                img.mediaHandle.linkedin(src='/Images/linkedin.svg', data-name='linkedin')
                img.mediaHandle.instagram(src='/Images/instagram.svg', data-name='instagram')
