<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodShades</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style2.css" />
    <link rel="stylesheet" href="style8.css" />
    <script defer src="orderPlaced.js"></script>
  </head>
  <body>
    <div class="header"></div>
    <div class="navbar">
      <div class="name">FoodShades</div>
      <div class="navContents">
        <div class="location">
          <img src="Images/location.png" alt="Location" class="imgLocation" />
          <p class="address">Building, City</p>
        </div>
        <img src="Images/basket.png" alt="Cart" class="cart" />
        <img src="Images/account.png" alt="Account" class="account" />
        <div class="search">
          <img src="Images/search.png" alt="" class="searchIcon" />
        </div>
      </div>
    </div>

    <div class="orderDetailsCont">
      <div class="orderDetailsDisplay">
        <div class="orderedDishesHeading">
          <div class="selectedHeadingOrdered">Order Details</div>
        </div>
        <div class="dishesOrderDetails">
          <div class="dishesOrderDetailsHeading">Dishes Ordered</div>

          <div class="orderedDishesInfo">
            <div class="orderedDishDisplayRest">
              <div class="orderedDishDetailsDescriptionRest">
                <div class="orderedDishDisplayNameRest">Dish Name</div>
                <div class="orderedDishDisplayPriceRest">Price</div>
                <div class="orderedDishDescriptionRest">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ratione sint aspernatur qui repellendus libero eligendi quo
                  aut incidunt atque veniam!
                </div>
              </div>
              <div>
                <img src="Images/veg.png" alt="" class="orderedVegRest" />
              </div>
              <div class="orderedDishDetailsDescriptionRest2">
                <img
                  src="Images/dish1.png"
                  alt=""
                  id="orderedDishDescriptionImg"
                />
                <div class="orderedDishQuantity">Quantity:</div>
              </div>
            </div>
            <div class="orderedDishDisplayRest">
              <div class="orderedDishDetailsDescriptionRest">
                <div class="orderedDishDisplayNameRest">Dish Name</div>
                <div class="orderedDishDisplayPriceRest">Price</div>
                <div class="orderedDishDescriptionRest">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ratione sint aspernatur qui repellendus libero eligendi quo
                  aut incidunt atque veniam!
                </div>
              </div>
              <div>
                <img src="Images/veg.png" alt="" class="orderedVegRest" />
              </div>
              <div class="orderedDishDetailsDescriptionRest2">
                <img
                  src="Images/dish1.png"
                  alt=""
                  id="orderedDishDescriptionImg"
                />
                <div class="orderedDishQuantity">Quantity:</div>
              </div>
            </div>
            <div class="orderedDishDisplayRest">
              <div class="orderedDishDetailsDescriptionRest">
                <div class="orderedDishDisplayNameRest">Dish Name</div>
                <div class="orderedDishDisplayPriceRest">Price</div>
                <div class="orderedDishDescriptionRest">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ratione sint aspernatur qui repellendus libero eligendi quo
                  aut incidunt atque veniam!
                </div>
              </div>
              <div>
                <img src="Images/veg.png" alt="" class="orderedVegRest" />
              </div>
              <div class="orderedDishDetailsDescriptionRest2">
                <img
                  src="Images/dish1.png"
                  alt=""
                  id="orderedDishDescriptionImg"
                />
                <div class="orderedDishQuantity">Quantity:</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="billDetailsRating">
        <div class="priceSummary">
          <div class="orderedPriceSummaryHeading">Bill Details</div>
          <div class="perDishPriceDetails">
            <div class="orderedPriceSummaryIndv">
              <div class="orderedPriceDish">Dish Name x 1</div>
              <div class="orderedPriceDishPrice">Price</div>
            </div>
            <div class="orderedPriceSummaryIndv">
              <div class="orderedPriceDish">Dish Name x 1</div>
              <div class="orderedPriceDishPrice">Price</div>
            </div>
            <div class="orderedPriceSummaryIndv">
              <div class="orderedPriceDish">Dish Name x 1</div>
              <div class="orderedPriceDishPrice">Price</div>
            </div>
          </div>
          <div class="orderedPriceSummaryIndvSubtotal">
            <div class="orderedPriceSubtotal">Subtotal</div>
            <div class="orderedPriceSubtotalPrice">Price</div>
          </div>
          <div class="orderedPriceSummaryIndvTotal">
            <div class="orderedPriceTotal">Total</div>
            <div class="orderedPriceTotalPrice">Price</div>
          </div>
        </div>

        <div class="ratingOrderPlaced">
          <div class="borderContRating">
            <div class="orderedRatingSummaryHeading">Rate Your Order</div>
            <div class="ratingImg">
                <button class="ratingBtn" data-postn="1">
                  <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn1" />
                </button>
                <button class="ratingBtn" data-postn="2">
                  <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn2" />
                </button>
                <button class="ratingBtn" data-postn="3">
                  <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn3" />
                </button>
                <button class="ratingBtn" data-postn="4">
                  <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn4" />
                </button>
                <button class="ratingBtn" data-postn="5">
                  <img src="Images/star.svg" alt="" class="ratingImgStar ratingBtn5" />
                </button>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>