<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodShades</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style1.css" />
    <link rel="stylesheet" href="style2.css" />
    <link rel="stylesheet" href="style9.css" />
  </head>
  <body>
    <div class="header"></div>
    <div class="navbar">
      <p class="name">FoodShades</p>
      <div class="navContents">
        <div class="location">
          <img src="Images/location.png" alt="Location" class="imgLocation" />
          <p class="address">Building, City</p>
        </div>
        <img src="Images/basket.png" alt="Cart" class="cart" />
        <img src="Images/account.png" alt="Account" class="account" />
        <div class="search">
          <img src="Images/search.png" alt="" class="searchIcon" />
        </div>
      </div>
    </div>

    <div class="pastOrderCont">
      <div class="pastOrderDetails">
        <div class="pastOrderOrders">
          <div class="pastOrderHeading">Past Orders</div>
          <!-- <button class="updateAccount">Update</button> -->
        </div>
        <div class="pastOrderList">
          <div class="pastOrderOrder1">
            <div class="pastOrderImgPrice">
              <img src="Images/pizza.jpg" alt="" class="pastOrder1Img" />
              <div class="pastOrder1Price">Total Bill: $305</div>
            </div>
            <div class="restNameOrderedDateDishes">
              <div class="restNameOrderedDate">
                <div class="pastOrderRestDetails">
                  <div class="pastOrderRestName">Restaurant Name</div>
                  <div class="pastOrderRestLocation">Location</div>
                  <!-- <div class="pastOrderRestType">Type</div> -->
                </div>
                <div class="pastOrderDate">
                  Ordered On: Thursday, Sep 8 2022, 01:09 PM
                </div>
              </div>
              <div class="pastOrderDishesOrdered">
                Dish_Name 1 X 1, Dish_Name 2 X 1, Dish_Name 3 X 5, Dish_Name 4 X
                1, Dish_Name 5 X 2
              </div>
            </div>
          </div>
          <div class="pastOrderOrder1">
            <div class="pastOrderImgPrice">
              <img src="Images/pizza.jpg" alt="" class="pastOrder1Img" />
              <div class="pastOrder1Price">Total Bill: $305</div>
            </div>
            <div class="restNameOrderedDateDishes">
              <div class="restNameOrderedDate">
                <div class="pastOrderRestDetails">
                  <div class="pastOrderRestName">Restaurant Name</div>
                  <div class="pastOrderRestLocation">Location</div>
                  <!-- <div class="pastOrderRestType">Type</div> -->
                </div>
                <div class="pastOrderDate">
                  Ordered On: Thursday, Sep 8 2022, 01:09 PM
                </div>
              </div>
              <div class="pastOrderDishesOrdered">
                Dish_Name 1 X 1, Dish_Name 2 X 1, Dish_Name 3 X 5, Dish_Name 4 X
                1, Dish_Name 5 X 2
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
