<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodShades</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style5.css" />
    <link rel="stylesheet" href="style1.css" />
    <script defer src="signIn.js"></script>
  </head>
  <body>
    <div class="container1">
      <div class="signImg">
        <img src="Images/signInimage.png" alt="" id="signUpimage1" />
        <img src="Images/signUpimage.png" alt="" id="signUpimage2" />
      </div>
      <div class="signUpDetails">
        <div class="msg1">Welcome To FoodShades</div>
        <div class="msg2">Create your Account</div>
        <div class="email">
          <div class="emailmsg">Email</div>
          <input
            type="email"
            name="Email"
            id="emailtext"
            placeholder="Enter your Email"
          />
        </div>
        <div class="password">
          <div class="emailmsg">Password</div>
          <input
            type="email"
            name="Email"
            id="emailtext"
            placeholder="Enter your Password"
          />
        </div>
        <div class="password">
          <div class="emailmsg">Repeat Password</div>
          <input
            type="email"
            name="Email"
            id="emailtext"
            placeholder="Enter your Password"
          />
        </div>
        <div class="otherOptions">
          <label for="checkbox1">
            <input type="checkbox" id="checkbox1" />
            <span id="sp1">Show Password</span>
          </label>
        </div>
        <div class="btn">
          <button class="signUpbtn">SignUp</button>
        </div>
        <a class="signInlink" href="signIn.html">Already have an Account?</a>
      </div>
    </div>
    <div class="footer">
      <div class="content">
        <div class="company">
          <h1>Support</h1>
          <p>Who are we</p>
          <p>Careers</p>
          <p>Team</p>
          <p>Report Fraud</p>
        </div>
        <div class="legal">
          <h1>Legal</h1>
          <p>Terms & Conditions</p>
          <p>Refund & Cancellation</p>
          <p>Privacy Policy</p>
          <p>Offer Terms</p>
        </div>
        <div class="support">
          <h1>Support</h1>
          <p>help@foodshades.abc</p>
          <p>(+91) 1234567890</p>
          <p>(+91) 1234567891</p>
        </div>
        <a class="nameFooter" href="#mainBg">FoodShades</a>
        <div class="icons">
          <img src="Images/facebook.png" alt="" class="mediaHandle" />
          <img src="Images/linkedin.png" alt="" class="mediaHandle" />
          <img src="Images/instagram.png" alt="" class="mediaHandle" />
        </div>
      </div>
    </div>
  </body>
</html>
